{% extends 'base.html' %}
{% block content %}
    <center><h1 class="text-primary">Doctor Appointments</h1>
        <form action="" method="get">
            <input type="text" placeholder="Search anything..." name="q" class="p-1">
            <button class="btn btn-outline-success">Search</button>
        </form>
    </center>
    
    <h3>Appointments for {{ doctor.name }}</h3>
    <table class="table table-striped table-bordered table-hover text-center">
        <tr>
            <th>Patient Name</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
        {% for appointment in appointments %}
        <tr>
            <td>{{ appointment.patient.name }}</td>
            <td>{{ appointment.date }}</td>
            <td>{{ appointment.time }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}