{% extends 'base.html' %}
{% block content %}
    <center><h1 class="text-primary">Doctor Appointments</h1>
        <h3>Appointments for {{ doctor.name }}</h3>
        <form action="" method="get" class="my-3">
            <input type="text" placeholder="Enter name..." name="q" class="p-1">
            <button class="btn btn-outline-success">Search</button>
        </form>
        
    </center>
    
    
    <center>
        <table class="table w-75 table-striped table-bordered table-hover text-center">
            <tr>
                <th>Patient Name</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
            {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.patient.name }}</td>
                <td>{{ appointment.date }}</td>
                <td>{{ appointment.time }}</td>
            </tr>
            {% endfor %}
        </table>
    </center>

{% endblock %}