{% extends 'base.html' %}
{% block content %}
<center><h1 class="text-danger">Doctors details</h1>

    <form action="" method="get">
        <input type="text" placeholder="Search anything..." name="q" class="p-1">
        <button class="btn btn-outline-success">Search</button>
    </form>

    <table class="table w-75 table-striped table-bordered table-hover text-center my-5">
        <tr>
            <th>Name</th>
            <th>Mobile No</th>
            <th>Specialization</th>
            <th>Action</th>
        </tr>
        {% for doctor in doctors %}
        <tr>
            <td><a href="{% url 'doctor_appointments' doctor.id %}" class="text-decoration-none">{{ doctor.name }}</a></td>
            <td>{{ doctor.mob }}</td>
            <td>{{ doctor.special }}</td>
            <td>
                <a href="{% url 'update_doctor' doctor.id %}" class="btn btn-warning btn-sm">Update</a>
                <a href="{% url 'delete_doctor' doctor.id %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <button class="btn btn-success"><a href="{% url 'add_doctor' %}" class="text-decoration-none text-white">Add Doctor</a></button>

</center>
   
    
{% endblock %}