{% extends 'base.html' %}
{% block content %}
    <center>
        <h1 style="font-size: 100px; color: crimson;" class="my-5">Welcome to ABC Hospital🏥</h1>
    </center>
    <div class="mx-5 mt-5">
        <ul>
            <li class="fs-4 ">Welcome to our hospital management system! This is the home page where you can find information about our hospital, services, and contact details. We are committed to providing high-quality healthcare services to our patients and ensuring their well-being.</li>
            <br>
            <li class="fs-4 ">Our hospital offers a wide range of medical services, including general medicine, surgery, pediatrics, obstetrics and gynecology, cardiology, neurology, and more. We have a team of experienced doctors, nurses, and staff who are dedicated to providing compassionate care to our patients.</li>
            <br>
            <li class="fs-4 ">On this website, you can also find information about our hospital policies, visiting hours, emergency services, and contact information. We encourage you to explore our website and learn more about our hospital and the services we offer.</li>
            <br>
            <li class="fs-4 ">If you have any questions or need assistance, please do not hesitate to contact us. We are here to help you and provide the best possible care for you and your loved ones.</li>
        </ul>
    </div> 

{% endblock %}