{% extends 'base.html' %}
{% block content %}
    <center><h1 class="text-primary">Patient Appointments</h1></center>
    <h3>Appointments for {{ patient.name }}</h3>
    <table class="table table-striped table-bordered table-hover text-center">
        <tr>
            <th>Doctor Name</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
        {% for appointment in appointments %}
        <tr>
            <td>{{ appointment.doctor.name }}</td>
            <td>{{ appointment.date }}</td>
            <td>{{ appointment.time }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}